<mat-card class="mt-4 mb-3 container vertical-center" style="max-width: 600px;">
    <form *ngIf="!register" ngSubmit="onLogin()" class="example-container">
        <h3 class="mb-3 mt-3">Email Login</h3>
        <mat-form-field>
            <input matInput [(ngModel)]="username" placeholder="E-mail" name="user" autocomplete="username">
        </mat-form-field>
        <mat-form-field>
            <input type="password" [(ngModel)]="password" matInput placeholder="Password" name="password" autocomplete="current-password">
        </mat-form-field>
        <div class="mt-2">
            <button (click)="onLogin()" mat-raised-button color="primary" class="float-right">Log In</button>
            <button (click)="register = true" mat-raised-button color="" class="float-left">Join now</button>
        </div>
    </form>
    <form *ngIf="register" ngSubmit="onRegister()" class="example-container">
        <h3 class="mb-3 mt-3">Email Register</h3>
        <mat-form-field>
            <input matInput [(ngModel)]="regUsername" placeholder="E-mail" name="user" autocomplete="username">
        </mat-form-field>
        <mat-form-field>
            <input type="password" [(ngModel)]="regPassword" matInput placeholder="Password" name="password" autocomplete="new-password">
        </mat-form-field>
        <mat-form-field>
                <input matInput [(ngModel)]="regNick" placeholder="Display name" name="display_name">
        </mat-form-field>
        <div>
            <button (click)="onRegister()" mat-raised-button color="primary" class="float-right">Register</button>
            <button (click)="register = false" mat-raised-button color="" class="float-left">Already signed up</button>
        </div>
    </form>
</mat-card>