<mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="tab == 0 ? 0 : (tab || 0)" class="demo-tab-group lastright" dynamicHeight>
  <mat-tab *ngIf="role === 'user' || role === 'guest' || role === '-'">
    <ng-template mat-tab-label>
      <div class="nav-bar-label">Get a Number</div>
    </ng-template>
    <ng-template matTabContent>
      <app-new-number [login]="isLogin" (oLogin)="login($event)" (setTab)="setTab($event)"></app-new-number>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="isLogin && role === 'admin'">
    <ng-template mat-tab-label>
      <div class="nav-bar-label">Manage</div>
    </ng-template>
    <ng-template matTabContent>
      <app-manage></app-manage>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="isLogin && role === 'worker'">
    <ng-template mat-tab-label>
      <div class="nav-bar-label">Serve</div>
    </ng-template>
    <ng-template matTabContent>
      <app-serve></app-serve>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon *ngIf="isLogin" class="qms-tab-icon">exit_to_app</mat-icon>
      <div *ngIf="!isLogin" class="nav-bar-label">Login</div>
    </ng-template>
    <app-login *ngIf="!isLogin" (setTab)="setTab($event)" (login)="login($event)"></app-login>
  </mat-tab>
</mat-tab-group>
